.btn {
  position: relative;

  transition: all 0.2s;
  font-size: 1.6rem;

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
  }

  &--animated {
    /* backwards applies 0% in keyframes to element */
    animation: moveInBottom 0.5s ease-out 0.7s backwards;
  }

  &--white {
    color: $color-grey-dark;
    background-color: $color-white;

    &::before {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-primary;

    &::before {
      background-color: $color-primary;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: inline-block;
    border-radius: 5rem;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover::before {
    transform: scale(1.4, 1.7);
    opacity: 0;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.btn-text {
  position: relative;
  display: inline-block;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 1.6rem;
  color: $color-primary;
  transition: all 0.2s;
  background: transparent;

  &::before {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    color: $color-white;
    content: '';
    background-color: $color-primary;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    &::before {
      height: 100%;
      z-index: -1;
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.1rem 0.5rem rgba($color-black, 0.2);
  }
}
