.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color-black, 0.7);
  z-index: 10000;

  opacity: 0;
  visibility: hidden;


  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: block;
    width: 75%;
    height: 50rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.4);

    opacity: 0;
    transition: all 0.5s ease;
  }
}