body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  /* Fix shaking animated element */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 0.7s ease-out;
  }

  &--secondary {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 0.7s ease-out;

    &::selection {
      background-color: rgb(79, 223, 127);
    }
  }
}
